## NBA all-star classification

### Features
- Season -- If listed as single number, the year the season ended.
- AllStar - Indicates All-Star for league.
- Only on regular season tables.
- Age -- Player's age on February 1 of the season
- Tm -- Team
- Lg -- League
- Pos -- Position
- G -- Games
- GS -- Games Started
- MP -- Minutes Played Per Game
- FG -- Field Goals Per Game
- FGA -- Field Goal Attempts Per Game
- FG% -- Field Goal Percentage
- 3P -- 3-Point Field Goals Per Game
- 3PA -- 3-Point Field Goal Attempts Per Game
- 3P% -- 3-Point Field Goal Percentage
- 2P -- 2-Point Field Goals Per Game
- 2PA -- 2-Point Field Goal Attempts Per Game
- 2P% -- 2-Point Field Goal Percentage
- eFG% -- Effective Field Goal Percentage
    - This statistic adjusts for the fact that a 3-point field goal is worth one more point than a 2-point field goal.
- FT -- Free Throws Per Game
- FTA -- Free Throw Attempts Per Game
- FT% -- Free Throw Percentage
- ORB -- Offensive Rebounds Per Game
- DRB -- Defensive Rebounds Per Game
- TRB -- Total Rebounds Per Game
- AST -- Assists Per Game
- STL -- Steals Per Game
- BLK -- Blocks Per Game
- TOV -- Turnovers Per Game
- PF -- Personal Fouls Per Game
- PTS -- Points Per Game

In [1]:
nba_df = pd.read_csv('nba_data.csv')
nba_df

,index,Player,AllStar,Season,age,Team,League,Pos,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Alaa Abdelnaby,0,1990,22,POR,NBA,PF,43,0,...,.568,0.6,1.4,2.1,0.3,-,0.3,0.5,0.9,3.1
1,1,Alaa Abdelnaby,0,1991,23,POR,NBA,PF,71,1,...,.752,1.1,2.5,3.7,0.4,-,0.2,0.9,1.9,6.1
2,2,Alaa Abdelnaby,0,1992,24,TOT,NBA,PF,75,52,...,.759,1.7,2.8,4.5,0.4,-,0.3,1.3,2.5,7.7
3,3,Alaa Abdelnaby,0,1992,24,MIL,NBA,PF,12,0,...,.750,1.0,2.1,3.1,0.8,-,0.3,1.1,2.0,5.3
4,4,Alaa Abdelnaby,0,1992,24,BOS,NBA,PF,63,52,...,.760,1.8,3.0,4.8,0.3,-,0.3,1.3,2.6,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24517,18260,George ZÃ­dek,0,1997,24,SEA,NBA,C,6,0,...,1.000,0.0,0.7,0.7,0.2,-,0.0,0.2,0.8,1.8
24518,18261,Derrick Zimmerman,0,2005,24,NJN,NBA,PG,2,0,...,-,0.5,1.5,2.0,3.5,-,0.0,2.0,2.0,2.0
24519,18262,Jim Zoet,0,1982,29,DET,NBA,C,7,0,...,-,0.4,0.7,1.1,0.1,-,0.4,0.6,1.3,0.3
24520,18263,Bill Zopf,0,1970,22,MIL,NBA,PG,53,-,...,.556,-,-,0.9,1.4,-,-,-,0.6,2.2
24521,18264,Matt Zunic,0,1948,29,WSC,BAA,-,56,-,...,.706,-,-,-,0.9,-,-,-,3.3,4.9

#### replace '-' value to null value

In [6]:
nba_df.replace('-', np.nan, inplace=True)

In [7]:
nba_df

,index,Player,AllStar,Season,age,Team,League,Pos,G,GS,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,0,Alaa Abdelnaby,0,1990,22,POR,NBA,PF,43,0,...,.568,0.6,1.4,2.1,0.3,NaN,0.3,0.5,0.9,3.1
1,1,Alaa Abdelnaby,0,1991,23,POR,NBA,PF,71,1,...,.752,1.1,2.5,3.7,0.4,NaN,0.2,0.9,1.9,6.1
2,2,Alaa Abdelnaby,0,1992,24,TOT,NBA,PF,75,52,...,.759,1.7,2.8,4.5,0.4,NaN,0.3,1.3,2.5,7.7
3,3,Alaa Abdelnaby,0,1992,24,MIL,NBA,PF,12,0,...,.750,1.0,2.1,3.1,0.8,NaN,0.3,1.1,2.0,5.3
4,4,Alaa Abdelnaby,0,1992,24,BOS,NBA,PF,63,52,...,.760,1.8,3.0,4.8,0.3,NaN,0.3,1.3,2.6,8.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24517,18260,George ZÃ­dek,0,1997,24,SEA,NBA,C,6,0,...,1.000,0.0,0.7,0.7,0.2,NaN,0.0,0.2,0.8,1.8
24518,18261,Derrick Zimmerman,0,2005,24,NJN,NBA,PG,2,0,...,NaN,0.5,1.5,2.0,3.5,NaN,0.0,2.0,2.0,2.0
24519,18262,Jim Zoet,0,1982,29,DET,NBA,C,7,0,...,NaN,0.4,0.7,1.1,0.1,NaN,0.4,0.6,1.3,0.3
24520,18263,Bill Zopf,0,1970,22,MIL,NBA,PG,53,NaN,...,.556,NaN,NaN,0.9,1.4,NaN,NaN,NaN,0.6,2.2
24521,18264,Matt Zunic,0,1948,29,WSC,BAA,NaN,56,NaN,...,.706,NaN,NaN,NaN,0.9,NaN,NaN,NaN,3.3,4.9